*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

/*---------------side bar--------------*/

.sidebar /*nav 의 아이디*/{
    
    position: fixed;
    width: 380px;
    height: 100%;
    left: 0;
    background: #252425;
}


.sidebar .name{
    line-height: 100px;
    text-align: left;
    padding-left: 30px;
    
    /*-- place item in center --*/
    background: #1e1e1e;
    letter-spacing: 1px;
    /*-- space between letters --*/
}

.sidebar .name a {
    text-decoration: none;
    color: cyan;
    font-size: 30px;
    font-weight: 800;
}

.sidebar .check-btn{
    font-size: 35px;
    color: white;
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*------------ 메인 아이템 스타일 ------------*/

nav ul{
    background: 1b1b1b;
    height: 100%;
    width: 100%;
    /*-- nav 안 전체적으로 꽉 채울만큼*/
    list-style: none;
}

nav ul li{
    line-height: 60px;
    /*-- 각 아이템을 띄여줌 --*/
    border-bottom: 1px solid rgba(255,255,255,0.1);
}


/*------ 각 아이템을 위한 스타일링 ------*/
nav ul li a{
    position: relative;
    /*-- 아래를 향하는 아이콘을 위한 포지션 설정--*/

    color: white;
    text-decoration: none;
    font-size: 22px;
    padding-left: 50px;
    font-weight: 500;
    display: block;
    width: 100%;

    border-left: 3px solid transparent;
    /* -- 각 아이템 옆에 투명한 선을 만듬 --*/
}

nav ul li a:hover{
    text-decoration: none;
    color: cyan;
}

/*-- effect when placed cursor on the main menu element --*/
nav ul li.active a {
    color:cyan;
    background: #1e1e1e;
    border-left-color: cyan;

}

/*-------------- 부가적인 아이템을 위한 스타일링 --------------*/
nav ul ul{
    position: static;

    display: none;
    /*-- 현재로서는 부가적인 아이템을 숨김 --*/
}


/*-- 부가적인 아이템들을 위한 스타일링 --*/

nav ul ul li{
    line-height: 42px;
    border-bottom: none;
}

  /*-- 메인 아이템과 부가적인 아이템을 구별하기 위한 스타일링 --*/
nav ul ul li a{
    font-size: 20px;
    color: #e6e6e6;
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul li.active ul li a{

    color:#e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
}

/*-- 부가적인 아이템들에 cursor 을 위치 할 떄--*/
nav ul ul li a:hover{
    color: cyan !important;
    background: #1e1e1e !important;
}

/*-- 밑을 향하는 아이콘을 위한 스타일--*/

/*nav ul ul li a span 를 밑에 형식으로 바꿈으로 아이콘을 오른쪽 끝으로 이동 가능*/
nav ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;

    font-size: 22px;

    transform: translaateY(-50%);
    /*-- y 측에 병형을 주기 위한 스타일 --*/
    transition: transform 0.4s;    
    /*-- transform 변환 시간 간격 --*/
}

nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
    /*-- cursor 가 a element 에 위치할때 180도 로테이트 --*/
}


@media screen and (max-width: 1150px){
    .sidebar /*nav 의 아이디*/{
        position: fixed;
        width: 100%;
        left: 0;

        /* changed style */
        height: 0;
    }


    .sidebar .check-btn{
        display: block;
    }

    nav ul{
    background: #252425;
    height: 100%;
    width: 100%;
    /*-- nav 안 전체적으로 꽉 채울만큼*/
    list-style: none;

    /* changed style */
    display: none;
    }

    nav ul li{
        line-height: 60px;
        /*-- 각 아이템을 띄여줌 --*/
        border-bottom: 1px solid rgba(255,255,255,0.1);

        /* changed style */
        background: #252425;
    }

    #check:checked ~ ul{
        background: 1b1b1b;
        height: 100%;
        width: 100%;
        /*-- nav 안 전체적으로 꽉 채울만큼*/
        list-style: none;
        display: block;
    }
}
